<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="ace-builds/src-noconflict/ext-language_tools.js"></script>
    <script src="js/ext-language_tools.js"></script>
    <title>Document</title>
</head>
<body>
  <br>
  <label for="">CODING WITH US</label>
  <div
      class="app-ace-editor"
      #editor
      style="width: 800px;height: 600px;"
    ></div>
</body>

<style>
  .app-ace-editor {
    border: 2px solid #f8f9fa;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
</style>

</html>
